---
layout: default
---
<div id="home">
  <div class="row">
    <!-- Aside Navigation  -->
    <aside id="aside" class="col-md-4">
      {% include aside.html %}
    </aside>
    <!-- Post List -->
    <section id="projects" class="col-md-8">
      {% for project in site.data.project %}
      <div class="project">
        <a href="{{ project.url }}">
          <div class="project-wrap">
            <div class="text-wrap">
              <h3 class="title">{{ project.title }}</h3>
              <p class="excerpt">
                {{ project.description }}
              </p>
            </div>
            {% if project.image %}
            <div class="img-wrap">
              <img src="{{ project.image }}" alt="{{ project.title }}">
            </div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </section>    
  </div>
</div>